@use 'variables' as *;
@use 'header';
@use 'home';
@use 'footer';
@use 'contact';
@use 'follow-us';

body {
    margin: 0;
    font-family: $font-body;
    color: $color-dark;
    background-color: #f9f9f9;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.grid {
    display: grid;
    gap: 2rem;
}

.section-padding { padding: 80px 0; }
.text-center { text-align: center; }

.btn {
    padding: 15px 35px;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    transition: 0.3s;
    border-radius: 4px;

    &--primary {
        background-color: $color-primary;
        color: white;
        &:hover { background-color: darken($color-primary, 10%); }
    }

    &--outline-white {
        border: 2px solid white;
        color: white;
        &:hover { background-color: white; color: $color-green-tajibos; }
    }

    &--outline-dark {
        border: 2px solid $color-dark;
        color: $color-dark;
        margin-top: 2rem;
        &:hover { background-color: $color-dark; color: white; }
    }
}